/* ---------------configuracion global componente Header component-----------------*/
*{
    text-decoration:none;
    list-style:none;
    
}
/* ---------------configuracion de contenedor nav-----------------*/
.headerstyle {
    background-image: url(https://images.pexels.com/photos/4790056/pexels-photo-4790056.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position:absolute;
    width: 94rem;
    max-width: 1445px;
    min-width: 280px;
    height: 48rem;
    background-color: #d9d9d9;
    top: 0px;
    
    
}


 /* ---------------configuracion del logo myLorem-----------------*/

.logo{
    position: absolute;
    width: 150x;
    height: 64px;
    left: 140px;
    top: 0px;
    font-family:'oleo script';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #CC5252;
}
/* ---------------configuracion del nav-----------------*/
.setupnav  {
    display:inline-block;
    position: relative;
    width: 80px;
    height: 35px;
    left:35rem;
    top:2rem;
    
}
/* ---------------configuracion de botones del nav-----------------*/

a {
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent;
    color: rgb(19, 18, 18);
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: bold;
    
    
    
}
a:hover {
    background-color: rgb(50, 51, 50);
    color: white;
    border-color:black;
    padding: 10px;
    
}




