

<div class="headerstyle" >
    
    <h1 class="logo">{{logo}}</h1>
    <ul class="setupnav"  *ngFor="let elemento of elementos" >
        <li > <a> {{elemento.welcome}} </a></li>
        <li > <a> {{elemento.Dropdown}} </a></li>
        <li > <a> {{elemento.Leftsidebar}} </a></li>
        <li > <a> {{elemento.Rightsidebar}} </a></li>
        <li > <a> {{elemento.Nosidebar}} </a></li>

    </ul>

    
    
    
    
    </div>
    

    
