.seccinteres{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZkAVFgxaxjQfioG35d8DIAvlS9mYkd0VjSw&usqp=CAU);
    width:1440px;
    height: 300px;
    background-color: black;


}