/*--------------comienza  el section que contendra los cards -----------------*/
section{
    position:absolute;
    width: 1100px;
    height: 270px;
    left: 125px;
    top: 400px;
    background:transparent;
    display:inline-block;
    }
/*--------------configuracion de los cards para tenerlos alineados  -----------------*/    
    .cards-list {
        z-index: 0;
        width: 100%;
        display: inline-block;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
/*--------------configuracion de  efecto y posicion de los cards -----------------*/    
    .card1{
        margin: 25px ;
        width: 286px;
        height: 270px;
        top:410px;
        border-radius: 2px;
        float:left;
        left: 140px;
        padding: 6px;
        background-color: white;
        box-shadow: 1px 1px 1px 1px rgba(129, 129, 129, 0.25), -1px -1px 1px 1px rgba(0,0,0,0.22);
        cursor: pointer;
        transition: 0.4s;
        font-family: 'Open Sans';
    
    }
/*--------------configuracion de la imagen  del card 1-----------------*/
    .card-img1{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-RzzUu4TsM-IigeFV5RdrOGYfrNZXq61UuQ&usqp=CAU);
        background-position: center center;
        background-size: cover;
        width: 286px;
        height: 180px;
    }
/*--------------configuracion del mensaje del card 1  -----------------*/
    .mensajecard1{
        position: absolute;
        top:217px;
        width: 294px;
        height: 90px;
        color:rgb(39, 38, 38);
        background-color: white;
        text-align: left;
        font-size: small;
        padding: 1px;
        left:26px;
        border-bottom: 10px;
        box-shadow: 1px 1px 1px 1px rgba(129, 129, 129, 0.25), -1px -1px 1px 1px rgba(0,0,0,0.22);
    }

/*--------------configuracion de la imagen  del card 2-----------------*/
.card-img2{
    background-image: url(https://www.xtrafondos.com/wallpapers/paisaje-de-lago-en-la-nieve-6880.jpg);
    background-position: center center;
    background-size: cover;
    width: 286px;
    height: 180px;
}
/*--------------configuracion del mensaje del card 2  -----------------*/
.mensajecard2{
    position: absolute;
    top:217px;
    width: 294px;
    height: 90px;
    color:rgb(39, 38, 38);
    background-color: white;
    text-align: left;
    font-size: small;
    padding: 1px;
    left:374px;
    border-bottom: 10px;
    box-shadow: 1px 1px 1px 1px rgba(129, 129, 129, 0.25), -1px -1px 1px 1px rgba(0,0,0,0.22);
}

/*--------------configuracion de la imagen 3 del card 3-----------------*/
.card-img3{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/73/726/331/san-franciso-world-cityscape-4k-wallpaper-preview.jpg);
    background-position: center center;
    background-size: cover;
    width: 286px;
    height: 180px;
}
/*--------------configuracion del mensaje 3 del card 3 -----------------*/
.mensajecard3{
    position: absolute;
    top:217px;
    width: 294px;
    height: 90px;
    color:rgb(39, 38, 38);
    background-color: white;
    text-align: left;
    font-size: small;
    padding: 1px;
    left:722px;
    border-bottom: 10px;
    box-shadow: 1px 1px 1px 1px rgba(129, 129, 129, 0.25), -1px -1px 1px 1px rgba(0,0,0,0.22);
}


    