<section>
    <div class="card-list">
        <div class="card1 card-img1" >
            <div class="mensajecard1">
                
                <p>
                    <b>Maybe here as well I think</b><br/>
                    phaselius quam turpis, feugiat sit amet in, henderit in lectus.
                    praesent sed semper amet bibendum 
                    tristique fringilla
                </p>
            </div>
            <div class="card_title">
                <p>Card Title</p>
              </div>
        </div>
        <div class="card1 card-img2 ">
            <div class="mensajecard2">
                <p>
                    <b>Maybe here as well I think</b><br/>
                    phaselius quam turpis, feugiat sit amet in, henderit in lectus.
                    praesent sed semper amet bibendum 
                    tristique fringilla
                </p>
            </div>

        </div>
        <div class="card1 card-img3">
            <div class="mensajecard3">
                <p>
                    <b>Maybe here as well I think</b><br/>
                    phaselius quam turpis, feugiat sit amet in, henderit in lectus.
                    praesent sed semper amet bibendum 
                    tristique fringilla
                </p>
            </div>
        </div>
    </div>
</section>

