<section>
    <div class="infosaludo">
       <h1>{{saludo}}</h1>
       <p>{{infodesaludo}}</p>
   </div>
   <div class="btnspaces">
       <button class="btn1">Ok let's go <span > </span></button><br/>
       <button class="btn2">More Info </button>
   </div>
</section>
