section{
    position: absolute;
    width: 1000px;
    height: 270px;
    left: 144px;
    top: 120px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZkAVFgxaxjQfioG35d8DIAvlS9mYkd0VjSw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .infosaludo{
        
        width: 50%;
        
        
    
    }
    h1{
        position:absolute;
        font-size: 48px;
        font-family:'Open Sans';
        font-weight: bold;
        left:40px;
        top:0px;
    }
    p{
        position:relative;
        font-size:36px;
        left:40px;
        font-family: 'Open Sans';
        text-align: justify;
        top:70px;
        
    }
    .btnspaces{
        position: absolute;
        width:40%;
        float: right;
        padding: 30px;
        top:10px;
        left:600px;
        font-family: 'Open Sans';
        font-weight: bold;
        
    
    }
    .btn1{
        width:300px;
        height: 50px;
        color:white;
        background-color: #4B70F3;
        margin: 5px;
        text-align: left;
        border:none;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 18px;
        
    }
    .btn2{
        width:300px;
        height: 50px;
        color:rgb(53, 52, 52);
        background-color: #d9d9d9;
        margin: 5px;
        text-align: left;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 15px;
        
        border:none;
    }
    